<nav class="well well-sm">
  <ul class="nav bs-docs-sidenav">
    <li class="nav-header">Resources</li>
    <li><a href="https://github.com/dita-ot/dita-ot">Source at GitHub</a></li>
    <li><a href="https://github.com/dita-ot/dita-ot/issues">Issue Tracker</a></li>
    <li {% if page.url == "/participate.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/participate">Participate</a></li>
    <li {% if page.url == "/management.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/management">Project management</a></li>
    <li {% if page.url == "/contribution_policy.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/contribution_policy">Contribution policy</a></li>
    <li {% if page.url == "/who_we_are.html" %} class="active" {% endif %}><a href="{{ site.baseurl }}/who_we_are">Contributors</a></li>
    <li class="nav-header">Resources</li>
    <li><a href="http://somesite.com/">Some Site</a></li>
  </ul>
</nav>
